

<div class="container">
    <h1 class="well" align="center">Welcome {{currentUser.firstname}}</h1> 
  Click here to <a href="#/phone-list">Logout</a> 
<div class="pull-right"> Cart Total:
  <div class="col-lg-12 well">  
 
<div class="row">



<div class="row"> 
   <div class="col-md-2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>
    </div>

   <div class="col-md-10">

     <ul  class="phones">
        <li ng-repeat="phone in phones | filter:{name: query } | orderBy:orderProp" class="thumbnail">
           <a href="#/phones/{{phone.id}}" class="thumb"><img ng-src="{{phone.imageUrl}}"></a>
           <a href="#/phones/{{phone.id}}">{{phone.name}}</a>
           <p>{{phone.snippet}}</p>
		
{{phone.price}}
		<button type="button" class="btn btn-xs btn-info" ng-click="">Add to cart</button>
        </li>
	
      </ul>
    </div>
   </div>
